@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-negro:#000000;
    --color-blanco:#FFFFFF;
    --color-celeste-1:#b8e3e9;
    --color-azulverdo:#28a0b3;
    --color-azuloscuro:#042b31;
    --color-gris1:#6E6E6E;
    --color-celeste-2:#17DEFC;
}

/* Estilos globales */
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: var(--color-negro);
    background-color: var(--color-blanco);  /* Cambio */
    margin: 0;                               /* Cambio */
    line-height: 1.5;
}

section {
    max-width: 1250px;                      /* Cambio */
    text-align: center;
    margin: 2em auto;                      /* Cambio */
}

h1 {
    font-size: 2.5em;                       /* Cambio */
    font-weight: 500;                       /* Cambio */
    margin: 0;
}

h2 {
    font-size: 2em;                         /* Cambio */
    font-weight: 400;
    margin: 0;
}

h3 {
    font-size: 1.5em;                       /* Cambio */
    font-weight: 400;
    margin: 0;
}
/* Código unificado */
.autor{
    text-align: center;
}

.container-art{
    max-width: 80vw;                    /* Cambio */
    margin: 1.25em;                      /* Cambio */
}

.container-art h1,h2{
    text-align: center;
}

.container-art p{
    text-align: left;
}

.centrar{
    text-align: center;
    margin: 0.625em;                        /* Cambio */
}

.centrar .imagen1{
    width: 30%;
    height: auto;
}

iframe{
    width: 50vw;
    height: 30vw;
    border: 0px;
}

.list-art{
    text-align: left;
    list-style: square;
}

.list-art-carlos{
    text-align: left;
    list-style: square;
    padding: 0 20%;
}

table{
    margin: 3.125em auto;                       /* CAmbio */
    background-color: white;
    border-collapse: collapse;
    text-align: left;
    width: 60%;
}

th{
    text-align: center;
    border: solid 1px black;
    padding: 0.625em;                          /* Cambio */
    background-color: #000000;
    color: #FFFFFF;
}

td{
    border: solid 1px black; 
}

li{
    padding: 0.375em;                          /* Cambio */
}

tr:nth-child(even){
    background-color: #ebebeb;
}

/* Encabezado, barra de navegación */
#idheader {
    display: grid;                          /* Cambio */
    background-color: var(--color-azuloscuro);
    text-align: center;
    padding: 2em 0.5em 1em;                     /* Cambio */
}

#idheader ul, 
#idfooter ul {
    list-style: none;
    padding: 0;
    margin: 0.5em 0 0;                      /* Cambio */
}

#idheader li,
#idfooter li {
    display: inline-block;
    margin: 0.5em 0 0;                      /* Cambio */
}

.contenedor-header {
    display: grid;                          /* Cambio */
    grid-template-columns: 1fr 3fr 1fr;   /* Cambio */
    grid-column-gap: 0.5em;                   /* Cambio */
    align-items: center;
}

/* Links barra de navegación */
a.nav:link, a.nav:visited {
    color: var(--color-blanco);
    display: inline-block;
    margin: 0 1em;                          /* Cambio */
}

a.nav:hover, a.nav:active {
    color: var(--color-celeste-2);
}

/* Sección de Bienvenida y Novedades */
#bienvenida {
    height: 85vh;                                       /* Cambio */
    display: grid;                                      /* Cambio */
    grid-template-columns: 1fr;                         /* Cambio */
    justify-items: center;                              /* Cambio */
    align-content: center;                              /* Cambio */
    background-image: url('../img/tecno11B.png');
    background-repeat: no-repeat;
    background-size:contain;                           /* Cambio */
    background-position-x: center;                      /* Cambio */
    background-position-y: center;                      /* Cambio */
    line-height: 1;                                     /* Cambio */
    /*display: flex;*/                                  /* Cambio */
    /*flex-direction: column;                              Cambio 
    justify-content: center;                               Cambio */
}

.bienvenida-titulo {
    background-color: rgba(38, 36, 43, 0.5);
    /*background-size: contain;                           /* Cambio */
    color: var(--color-celeste-1);
    padding: 1em;                                       /* Cambio */
}

/* Novedades */
.contenedor-novedades{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;             /* Cambio */
    justify-content: space-around;
    gap: 2em                                            /* Cambio */
}

.contenedor-novedades h2 {                              /* CAmbio */
    margin: 0.5em 0 0;
}

.contenedor-novedades h3 {                              /* Cambio */
    margin: 0.5em 0;
}

article {
    flex-basis: 15.5em;                          /* Cambio */
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a.novedades:link,
a.novedades:visited {
    display: block;
    color: var(--color-negro);
    text-decoration: none;
    border: 3px solid var(--color-azulverdo);
    padding: 0.75em 1.5em;
    border-radius: 1em;                                 /* Cambio */
    box-shadow: 0.375em -0.375em 0.625em var(--color-azuloscuro); /* Cambio */
    background: linear-gradient(var(--color-celeste-1),var(--color-blanco));
}

a.novedades:hover,
a.novedades:active {
    animation: cambiarColor;                        /* Cambio */
    animation-duration: 800ms;                      /* Cambio */
    background: var(--color-azulverdo);
    border: 3px solid var(--color-negro);
    font-style: italic;
    font-weight: 500;
    color:var(--color-blanco); 
}

/* Tarjetas */
.card {
    position: relative;
    width: 100%;                                    /* Cambio */
    height: 50vh;                                   /* Cambio  350px*/
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1em;                 /*Cambio*/
    overflow: hidden;
    transition: 300ms;                  /*Cambio*/
}

.card .front {
    transform: perspective(600px) rotateY(0deg);      
    box-shadow: 0.375em 0.625em 1.25em var(--color-azuloscuro); /* Cambio */
}

.card .front img {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.2em;                                      /* Cambio */
    line-height: 2.2em;                                 /* Cambio */
    color: var(--color-blanco);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-image: radial-gradient(var(--color-azuloscuro),var(--color-gris1)); /* Cambio */
    padding: 0.5em;
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0.375em 0.625em 1.25em var(--color-azuloscuro);
}

.card .back .link {
    border-top: solid 1px var(--color-blanco);
    height: 2.6em;
    line-height: 2.5em;
}

.card .back .link a {
    color: var(--color-blanco);
}

.card .back h3 {
    font-size: 1.5em;
    margin-top: 1em;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    font-size: 0.9em;
    margin: 0;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* Footer, Pié de página */
#idfooter {
    background-image: linear-gradient(var(--color-gris1),var(--color-azuloscuro)); /* Cambio */
    font-size: 1em;                 /* Cambio */
    color: var(--color-celeste-1);
    font-weight: 600;
    line-height: 1.8;
    text-align: center;
    padding-top: 4.0em;             /* Cambio */
    height: 15.5em;                 /* Cambio */
}

.contenedor-redes{
    position: relative;
    top:25%;                        /* Cambio */
    display: grid;                  /* Cambio */
    justify-content: center;
    /*align-items: center;*/
}

.contenedor-redes ul li{
    display: inline-block;
    margin: 0em 2em 0em 0.5em;      /* Cambio */
    width: 3.1em;                   /* Cambio */
    height: 3.1em;                  /* Cambio */
    text-align: center;
}

.contenedor-redes ul li a{
    display: block;
    padding: 0 0.625em;
    line-height: 2.5em;
    color: var(--color-azulverdo);
    background-color: var(--color-gris1);               /* Cambio */
    box-shadow: 0.375em 0.375em 0.375em 0px rgba(0, 0, 0, 0.75);
    transition: .2s;
    border-radius: 10%;
}

.contenedor-redes ul li a:hover{
    transform: translatey(-00.375em) scale(1.1);
}

.contenedor-redes ul li .facebook:hover{
    background-color: var(--color-celeste-2);
}
.contenedor-redes ul li .instagram:hover{
    background-color: var(--color-celeste-2);
}
.contenedor-redes ul li .whatsapp:hover{
    background-color: var(--color-celeste-2);
}


/*-------------- Formularios --------------*/

/* Formulario de búsqueda */
.buscar > input {
    margin-top: 0.8em;
    padding: 0.75em 1em;
    border-radius: 0.625em;
    border: 3px solid var(--color-celeste-2);
}

.buscar > button {
    margin-top: 0.8em;
    padding: 0.75em 1em;
    border-radius: 0.625em;
    background-color: var(--color-azulverdo);
    border: 3px solid var(--color-celeste-2);
}

.buscar > input:focus,
.buscar > button:focus {
    outline: none;
    border: 3px solid var(--color-azulverdo);
}
/* Se puede sacar formulario? */
/* Login, Contacto, Registro */
.formulario label {
    display: block;
    margin-bottom: 20px;
}

.formulario input,
.formulario textarea,
.formulario select {
    display: block; /* agrega los saltos de línea*/
    width: 450px; /* ancho */
    margin: 15px auto; /* centra el elemento */

    padding: 10px; /* área del texto */

    border-radius: 0px;  /* ajuste del radio de las esquinas */
    border: none;
    border-bottom: 2px solid var(--color-celeste-2);

    outline: none;
}

.formulario input:focus,
.formulario textarea:focus,
.formulario select:focus {
    border-bottom: 2px solid var(--color-azulverdo);
}

.formulario textarea {
    height: 200px;
}

.formulario .opciones {
    display: inline-block; /* línea bloque, no tiene saltos de línea y el ancho del elemento es fijado por su contenido. */
    width: auto;
    margin: 5px;
}

.formulario .submit {
    background-color: var(--color-azulverdo);
    font-weight: 700;
    border: none;
}

/* Exito 
#exito {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
/* articulos, detalle */
/*
#articulos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#articulos img {
    width: 80%;
    max-width: 360px;
    margin-right: 30px;
}

.derecha {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 600px;
    gap: 16px;
}

.derecha > ul {
    list-style: none;
    padding: 0;
}

.derecha > ul > li {
    display: inline-block;
}

#articulos h1, 
#articulos h2,
#articulos h3, 
#articulos p, 
#articulos ul {
    margin: 0;
    padding: 0;
}

#articulos h3 {
    font-size: 36px;
    color: var(--color-negro);
    font-weight: 400;
}

#articulos i {
    font-size: 20px;
    color: var(--color-celeste-2);
    margin-right: 16px;
}

#articulos i:hover {
    color: var(--color-azulverdo);
    cursor: pointer;
}

#articulos p {
    line-height: 1.5em;                 Cambio 
}
*/
#articulos button {
    background-color: var(--color-celeste-1);
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    color: var(--negro);
    border: 0.125em solid var(--color-azulverdo);
    border-radius: 1em;
    padding: 1em 1.6em;
}

#articulos button:hover {
    background-color: var(--color-azulverdo);
    border-color: var(--color-negro);
}

/* Catálogo */
/*
#catalogo table {
    margin: 0 auto;
    width: 1250px;
}

#catalogo img {
    width: 100%;
}

#catalogo th, td {
    padding: 16px;
}

#catalogo th {
    background-color: var(--color-azulverdo);
}

#catalogo td {
    background-color: var(--color-gris1);
}

#catalogo tr:nth-child(odd) td {
    background-color: var(--color-celeste-2);
}

#catalogo tr:hover td {
    background-color: var(--color-azulverdo);
}
*/
/* Sobre Nosotros */
/*
.contenido {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    padding-top: 32px;
}

.direccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.direccion > ul {
    list-style: none;
    padding: 0;
}

.direccion > ul > li {
    display: inline-block;
}

#sobrenosotros video {
    width: 65%;
    height: auto;
}

#sobrenosotros p {
    line-height: 20px;
}

#sobrenosotros i {
    font-size: 32px;
    margin-right: 32px;
}

#sobrenosotros iframe {
    display: block;
    width: 1250px;
    margin: 32px auto;
    border: none;
    height: 600px;
}
*/

.sobrenosotros {
    text-align: center;
    color: var(--color-negro);
    font-size: 1.2em;
    font-family: 'moserrat', sans-serif;
    font-style: oblique;
    font-weight: 500;
    max-width: 1250px;
    margin: 3em 1em 3em;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.nosotrosTexto {
    grid-column: 1 / 3;
}
/* Fotos de las notas*/
.img-nota {
    transform: perspective(600px);
    box-shadow: 5px 10px 20px var(--color-azuloscuro); /* Cambio */
    border-radius: 1em;
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-nota:hover {
    transform: scale(1.1,1.1);
    transition: 200ms;
}

.contenedor-tarjetas{
    margin-left: 1em;
    margin-right: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

@keyframes cambiarColor {
    from {background-color: var(--color-azuloscuro);}
    to {background: var(-color-gris1);}
}

@media screen and (max-width: 1060px){
    #bienvenida {
        height: 65vw;
    }
}


@media screen and (max-width: 768px){
    .contenedor-novedades,
    .contenedor-tarjetas{
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
    }
    .contenedor-header{
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
    }
    .sobrenosotros {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .nosotrosTexto {
         grid-column: 1 / 2;
    }
}

@media screen and (max-width: 450px){
    .contenedor-novedades,
    .contenedor-tarjetas{
        grid-template-columns: 1fr;
        justify-content: center;
    }
}
